<template>
  <div class="check-domain">
    <b-container fluid="md">
      <b-row>
        <b-col cols="12">
          <label>
            Obtén información sobre un servidor, ingresa un dominio como por ejemplo
           <strong>google.com</strong> y conoce si sus
            configuraciones han cambiado.
          </label>
        </b-col>
      </b-row>
      <b-row class="justify-content-md-center">
        <b-row cols="12" md="6">
          <b-col cols="10">
            <b-form-input v-model="domainName" placeholder="Ingresa un dominio "></b-form-input>
          </b-col>
          <b-col cols="2">
            <b-button variant="primary" v-on:click="get" :disabled="!domainName">COMPROBAR</b-button>
          </b-col>
        </b-row>
      </b-row>
      <br>
      <TextACards
        v-if="showResponse "
        responseTitle="Respuesta en formato JSON"
        :responseTA="responsevar"
        :domain="domain"
      />
      <br>
    </b-container>
    <b-modal size="sm" centered ref="loading" hide-footer hide-header>
      <div class="d-block text-center">
        <img v-if="showAlert" alt="Vue logo" class="alert-image" src="../assets/sad-lion.png">
        <b-spinner v-if="!showAlert" variant="primary" label="Spinning"></b-spinner>

        <h5>{{modalMessage}}</h5>
      </div>
      <div class="text-right" v-if="showAlert">
        <b-button variant="danger" v-on:click="hideModal">ENTIENDO</b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
/*
 *  ZeroState
 *
 *  @author Alejandro Mendoza Moreno <halejandromendozamoreno@gmail.com>
 *
 *  January 2020
 */

/**
 *  CheckDomain is a view that allows you to make domain requests
 *  with the help of the connection with the api with axios.
 *
 *  Use a TextACards component to show the results of the request
 */
import TextACards from "@/components/TextACards.vue";
import api from "@/api";

export default {
  name: "CheckDomain",
  components: {
    TextACards
  },
  data() {
    return {
      domainName: "",
      responsevar: Object,
      domain: Object,
      showResponse: false,
      showAlert: false,
      modalMessage: String
    };
  },
  methods: {
    // Este método muestra un modal de loading por defecto, pero recibe un parámetro
    // para que muestre un mensaje personalizado y una variable para saber si requiere
    // spinner o no.
    showModal(message = "Cargando...", isAlert = false) {
      this.showAlert = isAlert;
      this.modalMessage = message;

      this.$refs["loading"].show();
    },
    // Este metodo cierra el modal
    hideModal() {
      this.$refs["loading"].hide();
    },
    // Este método realiza una petición get para obtener la información asociada a un dominio
    async get() {
      //Ocultamos el componente que muestra los resultados y cargamos el modal de loading
      this.showResponse = false;
      this.showModal();

      await api
        .getDataDomain(this.domainName)
        .then(res => {
          this.responsevar = res.data;
          this.domain = JSON.parse(JSON.stringify(res.data));
          this.showResponse = true; //The results can now be displayed
          this.hideModal(); //We close the loading
        })
        .catch(error => {
          var message =
            "No fue posible acceder al dominio, verifica haberlo ingresado correctamente o que cuentas con conexión a internet y prueba de nuevo.";
          switch (error.response.status) {
            case 400:
              this.showModal(message, true);
              break;
            case 500:
              message =
                "Ocurrió un problema en el servidor, intenta nuevamente o verifica tu conexión a internet. ";
              this.showModal(message, true);
              break;
            default:
              this.showModal(message, true);
              break;
          }
        });
    }
  },
  async created() {}
};
</script>