<template>
  <div>
    <TextACards
      v-if="showResponse"
      responseTitle="Respuesta en formato JSON"
      :responseTA="responsevar"
      :items="items"
    />
    <div v-if="!showResponse">
      <ZeroState
        image="../assets/sad-lion.png"
        title="Sin resultados"
        description="Comprueba dominios antes para que puedas ver tu historial."
      />
    </div>
    <b-modal size="sm" centered ref="loading" hide-footer hide-header>
      <div class="d-block text-center">
        <img v-if="showAlert" alt="Vue logo" class="alert-image" src="../assets/sad-lion.png">
        <b-spinner v-if="!showAlert" variant="primary" label="Spinning"></b-spinner>

        <h5>{{modalMessage}}</h5>
      </div>
      <div class="text-right" v-if="showAlert">
        <b-button variant="danger" v-on:click="hideModal">ENTIENDO</b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
/*
 *  ZeroState
 *
 *  @author Alejandro Mendoza Moreno <halejandromendozamoreno@gmail.com>
 *
 *  January 2020
 */

/**
 *  SearchHistory is a view that allows you to view the history of domain queries
 *
 *  Use a TextACards component to display the request results and a ZeroState 
 *  component in case there are no results.
 */
import TextACards from "@/components/TextACards.vue";
import ZeroState from "@/components/ZeroState.vue";
import api from "@/api";

export default {
  name: "SearchHistory",
  components: {
    TextACards,
    ZeroState
  },
  data() {
    return {
      text: "",
      responsevar: Object,
      items: [],
      showResponse: false
    };
  },
  methods: {
    // Este método muestra un modal de loading por defecto, pero recibe un parámetro
    // para que muestre un mensaje personalizado y una variable para saber si requiere
    // spinner o no.
    showModal(message = "Cargando...", isAlert = false) {
      this.showAlert = isAlert;
      this.modalMessage = message;

      this.$refs["loading"].show();
    },
    // Este metodo cierra el modal
    hideModal() {
      this.$refs["loading"].hide();
    },
    getDescriptorTextACards(list) {
      list.forEach(element => {
        element.title = element.info;
      });
      return list;
    },
    //Este método realiza una solicitud para obtener el historial de búsqueda.
    async get() {
      await api
        .getSearchHistory()
        .then(res => {
          this.responsevar = res.data;
          this.items = this.getDescriptorTextACards(
            JSON.parse(JSON.stringify(res.data.items))
          );
          this.showResponse = true; //Los resultados pueden ser mostrados
        })
        .catch(error => {
           var message =
              "No fue posible acceder al dominio, verifica haberlo ingresado correctamente o que cuentas con conexión a internet y prueba de nuevo.";
          switch (error.response.status) {
            case 400:
              this.showModal(message, true);
              break;
            case 500:
              message =
              "Ocurrió un problema en el servidor, intenta nuevamente o verifica tu conexión a internet. ";
              this.showModal(message, true);
              break; 
            default:
              this.showModal(message, true);
              break;
          }
        });
    }
  },
  async created() {
    this.get();
  }
};
</script>