<template>
  <b-card no-body v-if="item">
    <template v-slot:header>
      <img
        v-if="item && item.logo"
        alt="Domain logo"
        class="navbarlogo"
        src="https://uploads-ssl.webflow.com/5b559a554de48fbcb01fd277/5b97f0ac932c3291fa40d053_icon32.png"
      >
      <h4 v-if="item && item.title" class="mb-0">{{item.title}}</h4>
    </template>
    <b-list-group flush v-if="item && item.servers">
      <b-list-group-item  v-if="item && item.servers_changed">Cambiaron los servidores: {{item.servers_changed}}</b-list-group-item>
      <b-list-group-item  v-if="item && item.ssl_grade">Grado SSL: {{item.ssl_grade}}</b-list-group-item>
      <b-list-group-item  v-if="item && item.previous_ssl_grade">Grado SSL previo: {{item.previous_ssl_grade}}</b-list-group-item>
      <b-list-group-item  v-if="item && item.is_down !=null">Dominio NO accesible: {{item.is_down}}</b-list-group-item>
    </b-list-group>

    <b-card
      border-variant="dark"
      header-bg-variant="dark"
      header-text-variant="white"
      header="Servidores"
      class="text-center"
      v-if="item && item.servers"
    >
      <b-table striped hover :items="item.servers"></b-table>
    </b-card>
  </b-card>
</template>

<script>
/*
 *  DomainCard
 *
 *  @author Alejandro Mendoza Moreno <halejandromendozamoreno@gmail.com>
 *
 *  January 2020
 */

/**
 *  DomainCard provides a component to describe a domain with the help of a
 *  card, it has a title, logo, sslgrade, previous_sslegrade, status of if 
 *  it is down and its list of servers that will be displayed in a table with
 *  the information Ip Address, sslgrade, country and owner.
 */
export default {
  name: "DomainCard",
  props: {
    item: Object
  }
};
</script>