<template>
        <b-container fluid="md">
      <b-row class="justify-content-md-center">
        <b-col cols="6" md="6">
          <template>
            <div>
                 <h4 class="mb-0">{{responseTitle}}</h4>
              <b-form-textarea id="ta-json" rows="10" max-rows="20" plaintext :value="responseTA"></b-form-textarea>
            </div>
          </template>
        </b-col>
        <b-col cols="6" md="6">
          <template>
            <div>
                <DomainCard v-if="domain" :item=domain /> 
              <div :key="index" v-for="(item, index) in items">
                <DomainCard :item=item /> 
              </div>
            </div>  
          </template>
        </b-col>
      </b-row>
    </b-container>
</template>

<script>
/*
 *  TextACards 
 *
 *  @author Alejandro Mendoza Moreno <halejandromendozamoreno@gmail.com>
 *
 *  January 2020
 */

/**
 *  TextACards Provide a component to describe a section with two columns,
 *  in the first one in a text area and in the second in a DomainCard 
 *  component or a list of these.
 */
import DomainCard from "@/components/DomainCard.vue";
export default {
  name: 'TextACards',
  components: {
    DomainCard
  },
  props: {
    responseTitle: String,
    responseTA: String,
    items: [],
    domain:Object,
  }
}
</script>