<template>
      <div>
         <img v-if="image" alt="Vue logo" class="zero-state-image" src="../assets/sad-lion.png">
         <h4 v-if="title">{{title}}</h4>
         <h6 v-if="description">{{description}}</h6>
    </div>
</template>
<script>
/*
 *  ZeroState
 *
 *  @author Alejandro Mendoza Moreno <halejandromendozamoreno@gmail.com>
 *
 *  January 2020
 */

/**
 *  ZeroState provides a component to describe a Zero State structure
 */
export default {
  name: 'ZeroState',
  props: {
    image: String,
    title: String,
    description: String,
  }
}
</script>