<template>
  <div id="app">
    <div id="nav">
      <div>
        <b-navbar toggleable="lg" type="dark" variant="dark">
          <b-navbar-brand>
            <img alt="Vue logo" class="navbarlogo" src="./assets/logo.png">
            DomainTest
          </b-navbar-brand>

          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
              <b-nav-item class="nav-action-text" to="/" exact exact-active-class="active">Comprueba</b-nav-item>
              <b-nav-item class="nav-action-text" to="/history" exact exact-active-class="active">Historial</b-nav-item>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #343534;
}

#nav {
  padding-bottom: 20px;
}

.navbarlogo {
  height: 40px;
  border-radius: 50%;
}
.zero-state-image{
  height: 250px;
}
.alert-image{
  height: 80px;
}
</style>
<script>
/* *
 *  App
 *
 *  @author Alejandro Mendoza Moreno <halejandromendozamoreno@gmail.com>
 *
 *  January 2020
 */

 /**
 *  Root of the project where the navbar is declared, the router for the
 *  different views and the global css styles.
 */
</script>